:root{
//   COLORS

    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}
body{
    height: 100vh;
    .wrapper{
        padding-inline: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .top{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-top: 7rem;
            .header{
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    padding-bottom: 2rem;
                    width: 90px;
                }
                h1{
                    color: var(--gray);
                    font-weight: 300;
                    padding-bottom: 1.5rem;
                    text-align: center;
                    span{
                        color: black;
                        font-weight: 700;
                    }
                }
                p{
                    margin-bottom: 2rem;
                    font-weight: 500;  
                }
            }
            .input-div{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                input{
                    width: 300px;
                    height: 55px;
                    border-radius: 2rem;
                    border: 1px solid var(--gray);
                    margin-bottom: 1.5rem;
                    max-width: 450px;
                    padding-left: 1rem;
                    
                }
                button{
                    width: 100%;
                    height: 55px;
                    border-radius: 2rem;
                    border: 1px solid var(--gray);
                    background-color: var(--blue);
                    color: white;
                    font-weight: 600;
                    font-size: 16px;
                    max-width: 450px;
                    cursor: pointer;
                }
            }
        }
        .bottom{
            padding-top: 5rem;
            .image{
                width: 100%;
                img{
                    width: 100%;
                }
            }
            .footer{
                margin-top: 10rem;
                .social-media{
                    display: flex;
                    justify-content: center;
                    gap: 1rem;
                    img{
                        cursor: pointer;
                    }
                }
                p{
                    text-align: center;
                    margin-block: 3rem;
                    color: var(--gray);
                }
            }
        }
    }
 }
 input::placeholder{
     font-size: 16px;
     color: rgb(202, 202, 202);
     font-weight: 600;
 }

 button:hover{
     background-color: hsl(223, 46%, 57%) !important;
 }
 button:active{
    background-color: hsl(214, 45%, 30%) !important;
}
 .error{
     color: red;
     font-size: 10px;
     margin-left: 1rem;
     margin-top: 0.5rem;
     font-style:oblique;
     font-weight: 600;
     display: none;
     position: absolute;
     top: 335px;
 }
 


 @media only screen and (min-width: 700px) {
    body{
        .wrapper{
            .top{
                .lol{
                    .error{
                        top: 250px;
                    }
                }
                padding-top: 2rem;
                .header{
                    h1{
                        font-size: 2.5rem;
                        padding-bottom: 0.5rem;
                    }
                    
                }
                .input-div{
                    flex-direction: row;
                    gap: 10px;
                    width: 50%;
                    width: 600px;
                    input{
                        margin: 0;
                        flex: 2;
                        max-width: none;
                    }
                    button{
                        flex: 1;
                    }
                }
            }
            .bottom{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 3rem;
                .image{
                    width: 50%;
                    min-width: 600px;
                    display: flex;
                    
                }
                .footer{
                    margin-top: 5rem;
                }
            }
        }  
    }
}
